<div class="footer-container has-text-centered p-5">
    <hr class="has-background-primary">
    <div class="columns is-multiline">
        <!-- Basic website links -->
        <div class="column is-one-third-desktop is-full-mobile">
            <p class="has-text-weight-bold">The Basics</p>
            <ul>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/">Home</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/about">Tinfoil Society</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/website/website-v1">Old Website</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/lore/booklet">Lore booklet</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/map">Selene's Interactive Map</a></li>
            </ul>
        </div>

        <!-- Article overviews -->
        <div class="column is-one-third-desktop is-full-mobile">
            <p class="has-text-weight-bold">Article Overviews</p>
            <ul>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/website/website">Website</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/for-sof/for-sof">Files</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/characters/characters">Characters</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/lore/lore">Lore</a></li>
                <li><a class="has-text-danger" href="{{ site.baseurl }}/pages/music/music">Music</a></li>
            </ul>
        </div>

        <div class="column is-one-third-desktop is-full-mobile">
            <p class="has-text-weight-bold">External Sources</p>
            <ul>
                <li><a class="has-text-danger" href="https://www.multidimensionalnavigator8.help/index-desktop.html">ARG Website</a></li>
                <li><a class="has-text-danger" href="https://www.instagram.com/bringmethehorizon">BMTH Instagram</a></li>
                <li><a class="has-text-danger" href="https://www.youtube.com/@BMTHOfficialVEVO">BMTH YouTube</a></li>
                <li><a class="has-text-danger" href="https://discord.com/invite/bmthofficial">BMTH Discord</a></li>
            </ul>
        </div>
    </div>
    <div class="level is-flex-direction-row">
        <a class="level-item has-text-black-90" href="https://the-secret-tinfoil-society.notion.site/BRING-ME-THE-HORIZON-ARG-6c86ee58ee3b41a6b0c594cf59201d4b">
            <!-- We have to manually adjust bc FontAwesome doesn't have it -->
            <img src="/assets/imgs/icons/Notion-logo.svg" alt="Notion Logo" style="width: 20px; height: 20px;">
        </a>
        <a class="level-item has-text-black-90" href="https://github.com/bmth-arg-wiki/"><i class="fa-brands fa-github"></i></a>
        <a class="level-item has-text-black-90" href="https://discord.gg/HpssXXvqvC"><i class="fa-brands fa-discord"></i></a>
    </div>
    <div class="level pb-0 is-justify-content-center">
        <p class="is-size-7">
            Copyright &copy <a class="has-text-danger" href="{{ site.baseurl }}/pages/about/">Tinfoil Society</a> {{ site.time | date: "%Y" }}.
            This is an unofficial open-source project documenting the progress of the BMTH POST HUMAN ARG.
            All assets belong to Sony Music and Bring Me The Horizon, unless otherwise specified.
        </p>
    </div>
    <div class="level pt-0 is-justify-content-center">
        <p class="is-size-7">
            <span class="">
                <a class="has-text-primary" href="https://www.genxsis.faith">I wanna be a </a>
                <a class="has-text-danger  has-text-weight-bold arg-font" href="{{ site.baseurl }}/pages/music/song-kingslayer-itch">KINGSLAYER</a>
            </span>
        </p>
    </div>
</div>
