@use "../../variables" as *;

/*
 * Content styling
 */

.content {
  a {
    color: $link;
    text-decoration: underline;

    &:hover {
      color: $danger;
    }

    &:visited {
      color: $success;
    }
  }

  // Long URLs
  code {
    overflow-wrap: break-word;
  }

  // Breadcrumbs should not be underlined
  .breadcrumb a {
    text-decoration: none;
  }

  // Blockquote editor's notes
  blockquote p em,
  blockquote p strong em {
    color: $danger;
  }

  // Details (clickable element)
  details {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  // Horizontal separators
  hr {
    background-color: $primary;
    height: 1px;
  }

  // Page card height
  .card {
    height: 100%;
  }
}
