/*
 * GLightbox overrides
 */

.gslide-description {
  background: transparent !important;
  text-align: center;
  padding: 12px 20px;
}

.gslide-title {
  color: rgba(255, 255, 255, 0.85) !important;
  font-weight: 500;
  font-size: 1rem;
}
