<div class="footer-container has-text-centered">
    <p>&copy; {{ site.time | date: "%Y" }} This is a hobby project documenting the progress of the
        BMTH NexGen ARG, not an official wiki. All assets belong to Sony Music and
        Bring Me The Horizon, unless otherwise specified.
    </p>
    <nav class="level">
        <ul class="level-item">
            <li class="p-1"><a class="has-text-primary" href="{{ site.baseurl }}/pages/about">I wanna be a</a></li>
            <li class="p-1"><a class="has-text-danger has-text-weight-bold" href="{{ site.baseurl }}/pages/music/song-kingslayer-itch">KINGSLAYER</a></li>
        </ul>
    </nav>
</div>
