<footer>
    <div class="footer-container">
        <p>&copy; {{ site.time | date: "%Y" }} This is a hobby project documenting the progress of the
            BTMH NexGen ARG, not an official wiki. All of the assets belong to Sony Music and
            Bring Me The Horizon.
        </p>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">i wanna be a</a></li>
                <li><a href="{{ '/' | relative_url }}">KINGSLAYER</a></li>
            </ul>
        </nav>
    </div>
</footer>
