<div class="image-gallery-nav columns is-multiline" data-folder="{{ include.folder }}">
    <!-- Images will be loaded here -->
</div>

<!-- Modal for image navigation -->
<div id="image-modal-nav" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-text-centered">
        <figure class="image is-large">
            <img id="modal-image-nav" src="" alt="">
        </figure>
        <button class="button is-white nav-button prev-button">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="button is-white nav-button next-button">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

