<section class="hero header-background is-small">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <!-- Top menu -->
                {% include header-top-navbar.html %}
            </div>
        </nav>
    </div>
    <!-- Hero body/banner section -->
    <div class="hero-body p-0">
        <figure class="image is-fullwidth">
            <img class="hero-banner" src="/assets/imgs/imagine_youtopia.PNG" alt="Imagine Youtopia Discord Contest Fanart">
        </figure>
    </div>
    <!-- Hero footer with navigation tabs -->
    <div class="hero-foot pt-1">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li class="is-active"><a href="{{ site.baseurl }}/">Home</a></li>
                    <li><a href="{{ site.baseurl }}/pages/characters/characters">Characters</a></li>
                    <li><a href="{{ site.baseurl }}/pages/for-sof/for-sof">Files</a></li>
                    <li><a href="{{ site.baseurl }}/pages/lore/lore">Lore</a></li>
                    <li><a href="{{ site.baseurl }}/pages/music/music">Music</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<script src="/assets/js/hamburger.js"></script>
<script src="/assets/js/tabs.js"></script>