<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' }}">
  {% endif %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | relative_url }}" />
  <meta property="og:image" content="{{ page.image | relative_url }}" />
  <meta property="og:description" content="{{ page.description | strip_html | xml_escape }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <title class="title">{{ page.title }}</title>
  <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
</head>