{% assign link_url = site.baseurl | append: include.link | append: '.html' %}
{% assign linked_page = site.pages | where: "url", link_url | first %}

{% if linked_page %}
<div class="card is-flex is-flex-direction-column">
    <div class="card-image">
        <a href="{{ linked_page.url }}">
            <figure class="image">
                <img class="img-contain" src="{{ linked_page.image }}" alt="Image for {{ linked_page.title }}">
            </figure>
        </a>
    </div>
    <div class="card-content is-flex-grow-1">
        <div class="media">
            <div class="media-content">
                <a class="title is-6 has-text-primary" href="{{ linked_page.url }}">{{ linked_page.title }}</a>
                <p>{{ linked_page.description }}</p>
            </div>
        </div>
    </div>
    <div class="card-footer p-2 is-align-self-flex-end">
        <div class="tags">
            {% if page.categories %}
            {% for category in linked_page.categories %}
            <span class="tag adaptive"><a href="{{ site.baseurl }}/pages/{{ category }}/{{ category }}">
                {{ category | replace: "for-sof", "files" | replace: "-", " " | upcase }}
            </a></span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
