<div class="container search">
    <div class="row">
        <form id="search-form" action="javascript:void(0);">
            <input type="text" id="search" placeholder="Search...">
            <button type="submit" id="search-button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
        <div id="search-result" style="display:none;"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/search.js"></script>