<div class="container">
    <div class="search is-centered">
        <form id="search-form" action="javascript:void(0);" class="field has-addons">
            <div class="control is-expanded">
                <input type="text" id="search" class="input" placeholder="Search...">
            </div>
            <div class="control">
                <button type="button" id="clear-button" class="button">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="control">
                <button type="submit" id="search-button" class="button">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </form>
        <div id="search-result" class="box" style="display:none;"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/search.js"></script>
