<div>
    <p class="menu-title menu-label">Navigation</p>
    <div class="menu-list">
        <nav>
            <ul class="menu-list">
                <li><p class="menu-label">Main Pages</p>
                    <ul class="menu-list">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="{{ site.baseurl }}/pages/walkthrough/walkthrough">Walkthrough 1: Website</a></li>
                        <li><a href="{{ site.baseurl }}/pages/walkthrough/walkthrough2">Walkthrough 2: FOR SOF</a></li>
                        <li><a href="{{ site.baseurl }}/pages/webpage">ARG Website M8</a></li>
                        <li><a href="{{ site.baseurl }}/pages/files/for-sof">FOR SOF folder</a></li>
                    </ul>
                </li>
                <li><p class="menu-label">Lore</p>
                    <ul class="menu-list is-hidden">
                        <li><a href="{{ site.baseurl }}/pages/lore/church">Church of Genxsis</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/genesis-storyline">Genesis Storyline</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/archive">Arc/Hive</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/nex-gen-corporation">NexGen Corporation</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/pusse">P.U.S.S-E</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/youtopia">Youtopia</a>
                        <li><a href="{{ site.baseurl }}/pages/lore/insights">Insights</a>
                        <li><a href="{{ site.baseurl }}/pages/m8">M8</a></li>
                    </ul>
                </li>
                <li><p class="menu-label">Characters</p>
                    <ul class="menu-list is-hidden">
                        <li><a href="{{ site.baseurl }}/pages/characters/characters">Character overview</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/sof">SOF</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/eve">E.V.E.</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/selene">Selene</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/strassman">Dr. Strassman</a></li>
                    </ul>
                </li>
                <li><p class="menu-label">Music</p>
                    <ul class="menu-list is-hidden">
                        <li><a href="{{ site.baseurl }}/pages/music/amo">amo</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-survival-horror">POST HUMAN: Survival Horror</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-nex-gen">POST HUMAN: NeX GEn</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/website-songs">Website Songs</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/spectrograms">Spectrograms</a></li>

                    </ul>
                </li>
                <li><p class="menu-label">Other Sources</p>
                    <ul class="menu-list is-hidden">
                        <li><a href="{{ site.baseurl }}/pages/other-webpages">Other Webpages</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/downloadfest">Downloadfest Church Event</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script src="/assets/js/menu.js"></script>
