<!-- _includes/sidebar.html -->
<div>
    <h2>Navigation</h2>
    <div class="sidebar-links">
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Wiki Front Page</a></li>
                <li>Main ARG Knowledge
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/webpage">Multidimensional Navigator 8</a></li>
                        <li><a href="{{ site.baseurl }}/pages/files/for-sof">FOR SOF folder</a></li>
                    </ul>
                </li>
                <li>Lore
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/lore/church">Church of Genxsis</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/genesis-storyline">Genesis Storyline</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/nex-gen-corporation">NexGen Corporation</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/pusse">P.U.S.S-E</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/youtopia">Youtopia</a>
                        <li><a href="{{ site.baseurl }}/pages/lore/insights">Insights</a>
                    </ul>
                </li>
                <li>><a href="{{ site.baseurl }}/pages/characters/characters">Characters</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/characters/sof">SOF</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/eve">0000 Eve</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/vegan">0001 Vegan</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/uriel">0002 Uriel</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/selene">0003 Selene</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/raphael">0004 Raphael</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/syko">0005 Syko</a></li>
                        <li><a href="{{ site.baseurl }}/pages/m8">0006 M8</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/raphael">0007 Raphael</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/pan">0008 Pan</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/miseria">0009 Miseria</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/michael">0010 Michael</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/pickles">0011 Pickles</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/madman">0012 Madman</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/strassman">0013 Strassman</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/ren">0014 Ren</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/iara">0015 Iara</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/gabriel">0016 Gabriel</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/vanth">0017 Vanth</a></li>
                    </ul>
                </li>
                <li>Music
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/music/amo">amo</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-survival-horror">POST HUMAN: Survival Horror</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-nex-gen">POST HUMAN: NeX GEn</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/website-songs">Website Songs</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/spectrograms">Spectrograms</a></li>

                    </ul>
                </li>
                <li>Other Sources
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/other-webpages">Other Webpages</a></li>
                        <li><a href="{{ site.baseurl }}/pages/socials/social-posts">Social Media Posts</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/downloadfest">Downloadfest Church Event</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/pages/bugs-typos">Bugs & Typos</a></li>
            </ul>
        </nav>
    </div>
</div>
