<!-- _includes/sidebar.html -->
<div>
    <h2>Navigation</h2>
    <div class="sidebar-links">
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Wiki Front Page</a></li>
                <li>Main ARG Knowledge
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/webpage">ARG Website M8</a></li>
                        <li><a href="{{ site.baseurl }}/pages/files/for-sof">FOR SOF folder</a></li>
                    </ul>
                </li>
                <li>Lore
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/lore/church">Church of Genxsis</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/genesis-storyline">Genesis Storyline</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/nex-gen-corporation">NexGen Corporation</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/pusse">P.U.S.S-E</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/youtopia">Youtopia</a>
                        <li><a href="{{ site.baseurl }}/pages/lore/insights">Insights</a>
                        <li><a href="{{ site.baseurl }}/pages/m8">M8</a></li>
                    </ul>
                </li>
                <li>>Characters
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/characters/characters">Character overview</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/sof">SOF</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/eve">E.V.E.</a></li>
                        <li><a href="{{ site.baseurl }}/pages/characters/selene">Selene</a></li>
                    </ul>
                </li>
                <li>Music
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/music/amo">amo</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-survival-horror">POST HUMAN: Survival Horror</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/ph-nex-gen">POST HUMAN: NeX GEn</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/website-songs">Website Songs</a></li>
                        <li><a href="{{ site.baseurl }}/pages/music/spectrograms">Spectrograms</a></li>

                    </ul>
                </li>
                <li>Other Sources
                    <ul>
                        <li><a href="{{ site.baseurl }}/pages/other-webpages">Other Webpages</a></li>
                        <li><a href="{{ site.baseurl }}/pages/socials/social-posts">Social Media Posts</a></li>
                        <li><a href="{{ site.baseurl }}/pages/lore/downloadfest">Downloadfest Church Event</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/pages/bugs-typos">Bugs & Typos</a></li>
            </ul>
        </nav>
    </div>
</div>
