@use "variables";

// Path to Bulma's sass folder, overwrite their variables with our theme
@use "bulma/sass" with (
  // Base styling
  $family-primary: '"Arial", sans-serif',

  // Base palette
  $white: variables.$base,
  $black: variables.$txt,

  // Brand palette
  $primary: variables.$primary,
  $info: variables.$info,
  $success: variables.$success,
  $link: variables.$link,
  $warning: variables.$warning,
  $danger: variables.$danger,

  // Text colours
  $text: variables.$txt,

  // Header
  $title-color: variables.$primary,

  // Base content
  $content-heading-color: variables.$link,
  $content-blockquote-border-left: 5px solid variables.$primary,

  // Misc.
  $control-border-width: 2px,
  $input-shadow: none
);

// Other components
@use "components/_header";
@use "components/_search_bar";
@use "components/_toc";
@use "components/_footer";

// Content (components)
@use "components/_contents";
@use "components/_page_card";
@use "components/_map";

// Themes
@use "themes/_light";
@use "themes/_dark";

/*
/ DEBUG

* {
  outline: 2px red solid;
  background-color: rgba(100,0,0,0.2);
}
 */


/*
 * Mobile
 */

@media screen and (max-width: variables.$mobile-width) {
  // If we are using mobile, the Table of Contents doesn't fit next to page content
  #page-box {
    flex-direction: column;
    max-width: 90%;
  }

  #toc-sidebar {
    padding-top: 1.5rem;
  }
}

// Helper class to create the ARG font on the website
.arg-font {
  font-family: "arg-font", "sans-serif";
}