/*
.footer-container {
    display: block;
}

.footer {
    background: var(--dark-txt);
    background-color: var(--dark-txt);
    color: var(--bg-darker);
}

footer li {
    padding: 0.2em;
}

footer p {
    color: var(--bg-darker);
}

footer a:hover,
footer button:hover {
    background-color: var(--txt);
}
*/