/* Display title + subtitle vertically */
header .container,
.footer-container {
    display: block;
}

header .title-container {
    padding: 1.5em;
}

.footer {
    background: var(--dark-txt);
    background-color: var(--dark-txt);
    color: var(--bg-darker);
}

/* Nice dark buttons and header/footer */
.hero-head,
.hero-body,
.navbar-item,
.navbar-button,
.navbar-brand {
    background: var(--dark-txt);
    color: var(--bg-darker);
}

/* Slightly lighter buttons on hover */
header a:hover,
footer a:hover,
header button:hover,
footer button:hover {
    background-color: var(--txt);
}

header .navbar-brand {
    font-weight: bold;
}

header .title {
    font-family: var(--fonttitle);
    text-transform: uppercase;
    color: var(--link);
}

header .subtitle a {
    color: var(--bg-darker);
}

footer li {
    padding: 0.2em;
}

footer p {
    color: var(--bg-darker);
}