.search h1 {
    font-size: medium;
}

a .description {
    color: var(--txt);
}

a:active .description {
    color: var(--titles);
}

/* Custom styling for the search bar */
.search-bar {
    margin-top: 20px;
}

#search-form {
    display: flex;
    align-items: center;
}

.search {
    flex: 1;
    border-radius: 4px 0 0 4px;
    width: 100%;
}

#clear-button {
    color: var(--bg-lighter);
    background: var(--txt);
    border-radius: 0; /* Remove rounded corners */
    border-left: none; /* Remove border between input and button */
}

#search-button {
    color: var(--bg-lighter);
    background: var(--txt);
    border-radius: 0 4px 4px 0;
}

#search-result {
    margin-top: 10px;
}

#search-result .result-item {
    border: 1px solid var(--bg-darker); /* Light border color */
    background-color: var(--bg-lighter); /* Light background color */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
    color: var(--txt); /* Dark text color */
}

#search-result .result-item:hover {
    background-color: var(--bg-darker); /* Slightly darker background on hover */
}
