@import "https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css";

/* Styling variables */
:root {
  --titles: #518c81;
  --link: #a67042;
  --txt: #383838;
  --dark-txt: #282828;
  --dark-red: #a70b0b;
  --light-grey: #c8c8c8;
  --bg: #ededed;
  --bg-darker: #d5d5d5;
  --bg-lighter: #fafafa;
  --fontsize1: 1.875em;
  --fontsize2: 1.5em;
  --fontsize3: 1.1em;
  --fontsize4: 1em;
  --code: "Source Code Pro", monospace;
  --fonttitle: Georgia, serif;
}

/* General page styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #ededed;
}

.container {
  display: flex;
  max-width: 1200px;
}

.custom-container {
  background-color: var(--bg-lighter);
  padding: 20px;
  border-radius: 5px;
}

.content {
  width: 75%;
  padding: 1.825rem;
  box-sizing: border-box;
}

/* HTML base elements */
.content h1 {
  color: var(--txt);
  font-size: var(--fontsize1);
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--fonttitle), ui-sans-serif, sans-serif;
  letter-spacing: -2px;
}

.content h2 {
  color: var(--titles);
  font-size: var(--fontsize2);
  font-weight: 800;
  font-family: var(--fonttitle), ui-sans-serif, sans-serif;
}

.content h3 {
  color: var(--titles);
  font-size: var(--fontsize3);
  font-weight: 800;
  font-family: var(--fonttitle), ui-sans-serif, sans-serif;
}

/* Make sure that body text color is applied even when overridden */
body, details, summary {
  color: var(--dark-txt); /* Use your desired readable color */
  padding-bottom: 0.1em;
}

body b, body strong {
  color: var(--txt);
}

table {
  background-color: var(--light-grey);
}

p {
  color: var(--txt);
}

a {
  color: var(--link);
}

hr {
  background-color: var(--light-grey);
}

li {
  color: var(--txt);
  font-size: var(--fontsize4);
}

.content img {
  max-width: 70%;
  align-content: center;
}

/* Tables */
.content table {
  background: var(--bg);
  border-collapse: collapse;
}

.content thead {
  background: var(--titles);
  color: var(--bg-lighter);
}

.content thead th {
  font-weight: bold;
  text-align: center;
  border: none;
}

tbody tr:nth-child(odd) {
  background-color: var(--bg-lighter);
}

tbody tr:nth-child(even) {
  background-color: var(--bg);
}

.content tbody td {
  border: 1px solid var(--light-grey);
}

/* Special blocks */
.content article {
  border: 2px solid var(--titles);
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--bg-lighter);
}

.content blockquote {
  background-color: var(--bg-lighter);
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 10px; /* To make the edges rounded */
  font-style: italic;
  position: relative;
}

.content blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px; /* Adjust according to the border width */
  width: 5px;
  background: var(--titles); /* Same as border color */
  border-radius: 10px;
}

.content blockquote:after,
.content q:before,
.content q:after {
  content: "";
}

code {
  background: var(--bg);
  color: var(--dark-red);
}