<!-- Navbar on top -->
<div class="navbar-brand">
  <a class="navbar-item has-text-primary-95" href="{{ site.baseurl }}/">
                        <span class="icon">
                            <i class="fa-solid fa-house"></i>
                        </span>
  </a>
  <a class="navbar-item has-text-primary-95 has-text-weight-bold" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
  <a class="navbar-burger has-text-primary-95" role="button" aria-label="menu" aria-expanded="false" data-target="navbarMenuHeroA">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
<div id="navbarMenuHeroA" class="navbar-menu pb-1">
  <div class="navbar-end">
    <a class="navbar-item has-text-primary-95 arg-font" href="{{ site.baseurl }}/pages/about">ABOUT</a>
    <a class="navbar-item has-text-primary-95" href="{{ site.baseurl }}/pages/map">Map</a>
    <a class="navbar-item has-text-primary-95" href="{{ site.baseurl }}/pages/music/music">Music Overview</a>
      <span class="navbar-item">
        <a class="navbar-button is-dark has-text-primary-95" href="https://github.com/bmth-arg-wiki/bmth-arg-wiki.github.io" target="_blank">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
        </a>
      </span>
  </div>
</div>