<header class="header">
    <section class="hero header-background">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <!-- Top menu -->
                    {% include header/header-top-navbar.html %}
                </div>
            </nav>
        </div>
        <!-- Home page uses the image banner -->
        {% if page.url == "/" %}
            <div class="hero-body p-0" id="image-banner">
                <figure class="image is-fullwidth">
                    <img class="hero-banner" loading="lazy" src="/assets/imgs/imagine-youtopia-cyan.jpg" alt="Imagine Youtopia Discord Contest Fanart">
                </figure>
            </div>
        {% else %}
            <div class="hero-body" id="short-banner">
                <div class="container">
                    <p class="title arg-font p-1"><a class="has-text-primary" href="{{ site.baseurl }}/">BRING ME THE HORIZON</a></p>
                    <p class="subtitle p-1"><a class="has-text-primary-90" href="{{ site.baseurl }}/">ARG Wiki</a></p>
                </div>
            </div>
        {% endif %}
        {% include header/header-foot.html %}
    </section>
</header>