<div class="hero-foot pt-1">
  <nav class="tabs is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <li class="is-active"><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/pages/characters/characters">Characters</a></li>
        <li><a href="{{ site.baseurl }}/pages/for-sof/for-sof">Files</a></li>
        <li><a href="{{ site.baseurl }}/pages/lore/lore">Lore</a></li>
        <li><a href="{{ site.baseurl }}/pages/music/music">Music</a></li>
      </ul>
    </div>
  </nav>
</div>