<div class="is-flex is-justify-content-space-between is-fullwidth pt-1 pb-2">
    {% if page.previous %}
    <!-- Custom buttons to indicate left and right -->
    <div class="pagination-button has-text-danger">
        <a href="{{ site.baseurl }}/pages/{{ page.previous }}" class="button is-primary">
            <span class="icon is-small"><i class="fas fa-chevron-left"></i></span>
            <span class="has-text-weight-semibold">{{ page.previous_text | default: 'Previous' }}</span>
        </a>
    </div>
    {% endif %}
    {% if page.next %}
    <div class="pagination-button has-text-danger">
        <a href="{{ site.baseurl }}/pages/{{ page.next }}" class="button is-primary">
          <span class="icon is-small"><i class="fas fa-chevron-right"></i></span>
          <span class="has-text-weight-semibold">{{ page.next_text | default: 'Next' }}</span>
        </a>
    </div>
    {% endif %}
</div>
