@use "../variables" as *;

/*
 * Global content styling
 */
.content {
  color: $txt;
}

/*
 * Titles
 */

// Make the titles an itty bitty smaller
.content h1 {
  font-size: large;
}

.content h2 {
  font-size: larger;
}

.content h3 {
  font-size: medium;
}

.content a {
  color: $link;
}

.content a:visited {
  color: $warning;
}

.content blockquote {
  background-color: $base;
  color: $txt;
}

/*
 * Details (clickable element)
 */
.content details {
  padding: 10px;
  margin: 10px;
  background-color: $primary-lightest;
  border-radius: 5px;
}

/*
 * Misc.
 */

// Horizontal separators
.content hr {
  background-color: $primary;
  height: 1px;
}