@use "../variables" as *; // Import variables from the variables file

/*
 * Full header styling
 */

.header-background {
  background: $gray-darkest;
}

// When hovering, links change from blue to red (Bulma overwrite)
a.heading-anchor:hover,
a.heading-anchor:visited:hover,
a.heading-anchor:hover {
  color: $danger;
}

/*
 * Dark navbar (top hero)
 */
a.navbar-item {
  color: $base;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover
{
  background: $primary-lighter;
  color: $txt;
}

a.heading-anchor,
a.heading-anchor:visited,
.navbar-burger {
  color: $primary-lighter;
}

// Mobile styling
@media screen and (max-width: $mobile-width){
  .navbar-menu.is-active {
    background: $txt;
  }
}


/*
 * Dark tabs (bottom hero) (replaces side bar)
 */
// Dark by default and light up on hover/active
.tabs.is-boxed li a {
  color: $base;
}

// For active tabs we use a very light pink + dark txt
.tabs.is-boxed li.is-active a {
  background: $primary-lightest;
  color: $gray-darkest;
}

// For hovered tabs we use a light pink + dark txt
.tabs.is-boxed li a:hover {
  background: $primary-lighter;
  color: $txt;
}

