@use "../variables" as *;

@media screen and (min-width: $mobile-width) {
  // TOC is sticky on wider devices
  #toc-aside {
    position: sticky;
    top: 0;
  }
}

/**
 * Headers
 */
.toc-level-2,
.toc-level-3 {
  // Sometimes we're just gonna need more space
  overflow-wrap: break-word;
}

.toc-level-2 a::before {
  content: '#';
  color: $primary;
  display: inline-block;
  padding: 0.25em;
  font-size: small;
}

.toc-level-3 a::before {
  content: '#';
  color: $primary;
  display: inline-block;
  padding: 0.5em;
  font-size: small;
}