@use "../variables" as *; // Import variables from the variables file

@media screen and (min-width: $mobile-width) {
  #toc-container {
    position: sticky;
    top: 0;
    min-width: 25%;
  }
}

/*
 * Menu (overall) styling
 */
.menu-list,
.menu-list a,
.menu-list button,
.menu-list .menu-item {
  background-color: $pink-lightest;
}

/**
 * Headers
 */
.toc-level-2 a::before,
.toc-level-3 a::before {
  content: '#';
  color: $pink;
  display: inline-block;
  padding: 0.25em;
  font-size: small;
}

.toc-level-3 {
  padding-left: 15px;
}