<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="adaptive">
    <!-- Header -->
    {% include header/header.html %}

    <!-- Page modal -->
    {% include modal.html %}

    <!-- Search -->
    <div class="search-bar">
        {% include searchbar.html %}
    </div>
    <!-- Page-specific content -->
    <div class="container is-flex" id="page-body">
        <div class="container" id="content-container">
            <main class="content adaptive pr-6 pl-6 pb-6">
                <!-- Links to previous and next articles -->
                {% include content/article-pagination.html %}
                <!-- Navigation links above title -->
                {% include breadcrumbs.html %}
                <div class="p-2">
                    <!-- Page content wrapped in funny business for anchoring -->
                    {% include anchor_headings.html html=content anchorBody="#" anchorClass="heading-anchor has-text-primary"%}
                </div>
            </main>
        </div>
        <!-- Table of Contents: pages only (not on homepage) -->
        {% if page.url != "/" %}
            <div class="toc-container" id="toc-container">
                <aside class="container p-2" id="toc-aside">
                    {% include toc.html %}
                </aside>
            </div>
        {% endif %}
    </div>
    <!-- Footer -->
    {% include footer/footer.html %}
    <script src="/assets/js/hamburger.js"></script>
    <script src="/assets/js/tabs.js"></script>
    <script src="/assets/js/toc.js"></script>
    <script src="/assets/js/gallery.js"></script>
    <script src="/assets/js/search.js"></script>
    <script src="/assets/js/modal.js"></script>
</body>
</html>
